<h3>Personal info</h3>
<form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">ADMINISTRATIVEUNIT:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="editedObject.administrativeUnit">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">MUNICIPALITYID:</label>
            <div class="col-lg-8">
              <input class="form-control" type="number" ng-model="editedObject.municipalityId">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" ng-click="ok()" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" ng-click="cancel()" value="Cancel">
            </div>
          </div>
</form>
