   <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{ 'Municipalities' | translate}}</h4>
                            </div>

                              <div class="collapse navbar-collapse">
                                  <ul class="nav navbar-nav navbar-right">
                                    <li>
                                   <input type="button" value="Search" class="btn btn-default" />
                                   </li>
                                 </ul>
                             </div>
                        </div>
                        <div>
                                <table ng-table ="unitTable" class="table" show-filter="true">
                                        <tr ng-repeat="unit in $data">
                                          <td  title="'municipality'" filter="{ municipality: 'text'}" sortable="'municipality'">
                                          {{unit.municipality}}</td>
                                          <td title="'municipalityId'" filter="{ municipalityId: 'number'}" sortable="'municipalityId'">{{unit.municipalityId}}</td>
                                          <td title="'Operations'">
                                            <input type="button" value="{{ 'Delete' | translate}}" ng-click="deleteModal(unit)" class="btn btn-default" />
                                            <input type="button" value="{{ 'Edit' | translate}}" ng-click="editModal(unit)" class="btn btn-default"/>
                                          </td>
                                        </tr>
                                </table>
                              </div>
                    </div>
                </div>


                <script type="text/ng-template" id="promptdialog.html">
                      <div class="modal-header">
                        <h3 class="modal-title">Jeni te sigurt per Fshirjen?!</h3>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
                      </div>
              </script>
</div>
